sudo: false
language: node_js
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
node_js:
- iojs
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
script:
- npm run test
- npm run coverage:check
after_success:
- npm run coverage:report
deploy:
  provider: npm
  email: antonio.villagra.de.la.cruz@gmail.com
  api_key:
    secure: MZz6yDHO0IsO8kOqZmafAy8W6zBgNQB3owmmoIFJfB39GPZoblqTZjRZMqPuTjl8B2RBwsExeFZKBH7g8rbS1spMRjLNFYptJbhF/tc0AjAMDmTZqC5gIiRvp/uXeTOvCyT9udidQ7QA7iy3ObSRbrmr18ViGNtr//QWvCiCoZkHNjfQUwgteIjJGMioiI9L1T3+P8Z53SUDhjjUCw+qPq+4xpd0an1brc/7bWqxsmBB45AQLDCOIWoGjzlQ1b6fgSNp1xvjaf2BvdQ6z8BP3dEsM0I/2UkkeixsWwn5W94OHYFCNsuD+9/G93Cp+mplqYmpM5XDNSaRfoHUsYupQimZJEup8dNLZhtgfdYUYH7Ccz1VJZmtc5UTh8/H6MxBFzKn24peJ/5gfGouWqoh3XIOVlKarYQjClHK/LHx+v/c7WJUbg8Gg/SOKCcBkqESIKRrUFakitt37a2o3adJyeom/kTTS/U+OcLN9REppHyZLRUts3+rYjTAxCivGl2TMM2HWncWif4Xs0FYKUEEJhycNIjUTgcU+dnWu/6d+sldGr5IhWzRyCCRf2XsBtRe5mJXOC11Six0q78jAVrOWmw00vuW3CL+QGLjPB46wZJUz4MqfAEnJeSYMAzgsvYDja5jjC03+SkIS4WpEFf38M58wUOmnGdEr5hwog3mx4c=
  on:
    tags: true
    repo: AntonioVdlC/html-template-tag
